<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="pop-up">
    <p>
      <span class="msg-title">Message</span>
      :
      <span class="msg-info">Here is the info</span>
    </p>
  </div>
  <%- include('partials/header') %>

    <main>
      <h1>
        <%= title %>
      </h1>
      <div class="anime-cards-container">
        <% animeList.forEach(anime=> { %>
          <%- include('partials/animeCard', { anime: anime }) %>
            <% }) %>
      </div>
      <!--Loading Card-->
      <div class="loaderBox">
        <div class="loadingspinner flexIt">
          <div id="square1"></div>
          <div id="square2"></div>
          <div id="square3"></div>
          <div id="square4"></div>
          <div id="square5"></div>
        </div>
      </div>
      <!--Loading Card-->
    </main>


    <%- include('partials/footer') %>
      <script src="/js/category.js"></script>
</body>

</html>