<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('partials/header') %>
    <main>
      <div class="justify-it">


        <div class="profile-container">
          <img src="<%= user.profileImage %>" alt="Profile Image" class="profile-image">
        </div>


        <div class="p-updates">
          <h1>Hi, <%= user.username %></h1>

          <form class="add-m flex-c">
            <label for="username">Email:</label>
            <input type="text" value="<%= user.email %>" disabled>
          </form>

          <!-- Update Username Form -->
          <form class="flex-c add-m" action="/update-username" method="post">
            <label for="username">New Username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Update Username</button>
          </form>

          <!-- Update Password Form -->
          <form class="flex-c add-m" action="/update-password" method="post">
            <label for="current-password">Current Password:</label>
            <input type="password" id="current-password" name="currentPassword" required>
            <div class="add-m"></div>
            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="newPassword" required>
            <button type="submit">Update Password</button>
          </form>

          <!-- Change Profile Photo Form -->
          <form class="add-m flex-c" action="/update-profile-photo" method="post">
            <label for="profileImage">Choose New Profile Image:</label>
            <select id="profileImage" name="profileImage">
              <% images.forEach(image=> { %>
                <option value="/images/anime-characters/<%= image %>">
                  <%= image %>
                </option>
                <% }) %>
            </select>
            <button type="submit">Update Profile Photo</button>
          </form>

          <!-- Logout Button -->
          <form class="add-m" action="/api/auth/logout" method="post">
            <button type="submit" class="hollow-button">Logout</button>
          </form>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>