<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results for "<%= query %>"</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('partials/header') %>
    <main>
      <h1>Search Results for "<%= query %>"</h1>
      <div class="anime-cards-container">
        <% if (searchResults.length> 0) { %>
          <% searchResults.forEach(anime=> { %>
            <%- include('partials/animeCard', { anime: anime }) %>
              <% }) %>
                <% } else { %>
                  <p>No results found for "<%= query %>".</p>
                  <% } %>
      </div>
    </main>
    <%- include('partials/footer') %>
      <script src="/js/index.js"></script>
</body>

</html>